<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
  </style>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |namme, msg| %>
    <%=msg%>
  <% end %>
  
<%= render 'layouts/navigation'%>
<div class="container">
   <%= yield %>
  </div>
  <%=render 'layouts/footer' %>


</body>
</html>
